.nav-items {
    list-style-type: none;
}

.nav-item {
    color: black;
    text-decoration: underline solid darkgrey 1px;
    transition: text-decoration 0.1s;
}

.nav-item:hover {
    text-decoration: underline solid orange 4px;
}